body {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
 {
    background-image: url(https://img.freepik.com/free-vector/digital-technology-background-with-abstract-wave-border_53876-117508.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.wrapper {
    height: 100vh;
    margin: 0 auto;
    padding-top: 40px;
    width: 80%;

    .main-header {
        .masthead {
            position: relative;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;

            h1 {
                transition-delay: 450ms;
                transition: 0.3s ease-in-out;

                a {
                    color: #fe5f9e;
                    margin-bottom: 25px;
                }
            }

            .menu-toggle {
                cursor: pointer;
                width: 55px;
                z-index: 3;

                .one,
                .two,
                .three {
                    background-color: rgb(0, 0, 0);
                    border-radius: 25px;
                    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.703);
                    height: 7px;
                    transition: 0.2s ease-in-out;
                    transition-timing-function: cubic-bezier(.13, .24, .35, 1.64);
                }

                .one,
                .two {
                    margin-bottom: 7px;
                }
            }

        }
    }

    .main-contents {
        p {
            font-size: 18px;
            font-weight: 500;
            color: black;
            margin-top: 50px;
            transition-delay: 150ms;
            transition-duration: 850ms;
        }

    }



    .main-nav-list::before,
    .main-nav-list::after {
        background-color: #b94071;
        content: "";
        position: absolute;
        top: 0;
        height: 100vh;
        width: 0vw;
        transition: all 100ms ease-in-out 300ms;
        background-image: url(https://www.itprotoday.com/sites/itprotoday.com/files/programming.jpg);
        background-repeat: no-repeat;
        background-position: 10%;
    }

    .main-nav-list::before {
        left: 0;
    }

    .main-nav-list::after {
        right: 0;
    }

    .main-nav-list ul {
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease-in-out;
        z-index: 2000;

        a {
            text-decoration: none;
            color: black;
            display: block;
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 3px;
            margin-bottom: 15px;
            opacity: 0;
            text-align: center;
            text-transform: uppercase;
            // transition-delay: 130ms;
            transition: 0.1s ease-in-out;

            &:hover {
                color: #b94071;
            }
        }
    }

    // *****Active olanda bash verecek******

    .main-contents .active {
        transform: translateX(80%);
        opacity: 0;
        transition: 0.2s ease-in-out;
    }

    .masthead.active h1 {
        transform: translateX(150%);
        transition: 0.2s ease-in-out;

        a {
            color: black;
            transition: 0.2s ease-in-out;
            // transition-delay: 450ms;
        }
    }

    .menu-toggle.active .one {
        // box-shadow: 0px 3px 13px rgba(0, 0, 0, .4);
        transform: translate(0, 14px) rotate(45deg);
        background-color: white;
    }

    .menu-toggle.active .two {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-55px);
    }

    .menu-toggle.active .three {
        box-shadow: 0px 3px 13px rgba(0, 0, 0, .4);
        transform: translate(0, -14px) rotate(-45deg);
        background-color: white;
    }

    .main-nav-list.active::before,
    .main-nav-list.active::after {
        width: 31vw;
        /*     transition-duration: 1000ms; */
    }

    .main-nav-list.active ul {
        top: 50%;
        transform: translate(-50%, -50%);
        // transition-duration: 240ms;
    }

    .main-nav-list.active a {
        transition-delay: 600ms;
        opacity: 1;
    }

}